<h1>Welcome to Instaflix! See our collection of movies below</h1>
<table>
	<tr>
		<th>title</th>
		<th>description</th>
		<th>year_released</th>
	</tr>

	<% @movies.each do |m| %>
	
	<tr>
		<td><%= m.title %></td>
		<td><%= m.description %></td>
		<td><%= m.year_released %></td>
	</tr>
	
	<% end %>

</table>